:root {
  --dark: #1f1f1c;
  --light: #f2f2f2;

  /*_______ classess _______*/
  --buttons-height: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
div,
span,
img,
button {
  display: block;
}

button {
  cursor: pointer;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  color: var(--light);
}
.carousel {
  width: 600px;
  height: 400px;
}
.carousel .buttons {
  color: var(--dark);
  height: var(--buttons-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px 4px 0px 0px;
}

.carousel :last-child {
  border-radius: 0px 0px 4px 4px;
}

.carousel .images {
  height: calc(400px - 80px);
  overflow: hidden;
}
.carousel .images img {
  height: calc(400px - 80px);
  width: 100%;
}
